  #sidebar-wrapper-form {
    margin-right: -250px;
    right: 0;
    top: 0;
    width: 250px;
    background: #fafafa;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 999999;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }

  .sidebar-nav-form {
    position: absolute;
    top: 0;
    width: 650px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav-form li {
    line-height: 50px;
    text-indent: 20px;
  }

  .sidebar-nav-form li a {
    color: #999999;
    display: block;
    text-decoration: none;
  }

  .sidebar-nav-form li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
  }

  .sidebar-nav-form li a:active, .sidebar-nav-form li a:focus {
    text-decoration: none;
  }

  .sidebar-nav-form > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }

  .sidebar-nav-form > .sidebar-brand a {
    color: #999999;
  }

  .sidebar-nav-form > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  #menu-toggle {
    z-index: 1;
  }

  #sidebar-wrapper-form.active {
    right: 250px;
    top: 0;
    width: 650px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }

  .toggle {
    margin: 0px 5px 0 0;
  }

  .overflow{
    overflow: hidden;
  }

  .active-overflow{
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-animation: cd-fade-in .3s;
    animation: cd-fade-in .3s;
}