body {
	font-family: 'Roboto', sans-serif;
	background-color: #f4f5f7;
}


/* CONTENT HEADER */
.header-menu {
	background-color: #f0f1f3;
}

.header-menu h3 {
	margin: 25px 0px;
	color: #607e88;
}

#content-navbar {
	padding: 35px 0px;
}

.inline-b {
	display: inline-block;
}

.user-info {
	margin: 22px 0px;
}

.btn-userinfo {
	background: none;
	border: 0;
	color: #91888b;
}

.btn-userinfo:hover {
	background: none !important;
	color: #91888b !important;
}

/* END CONTENT HEADER */

/* TABS */
#tabsMenu a {
	text-transform: uppercase;
	font-weight: 500;
	color: #84888b;
	margin: 0px 6px;
	padding: 15px 15px;
}

#tabsMenu a:hover {
	border-radius: 0px;
	border-bottom: 0px;
	background: #e8e9eb;
}

#tabsMenu .active a {
	color: #6ca74b;
	border: 0px;
	border-top: 2px solid #6CA74B;
	border-radius: 2px;
	background: #f4f5f7;
}

.nav-tabs {
	border-bottom: 0px;
}
/* END TABS */


/* MINHA EQUIPE */

#info-container .btn-group {
	margin: 0px 15px;
}

#info-container h5 {
	color: #93a2a9;
}

.btn-freelas {
	color: #b3bdbf;
	text-transform: uppercase;
	font-size: 11px;
	padding: 10px 20px;
	font-weight: 500;
	background-color: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #e0e2e1;
}

.btn-users {
	color: #7b8898;
	text-transform: uppercase;
	font-size: 11px;
	padding: 10px 20px;
	font-weight: 500;
	background-color: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #e0e2e1;
}

.new-member {

}

.btn-new-member {
	background: #87c16d;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	padding: 12px 25px;
	border-radius: 3px;
}

.btn-create-member {
	background: #5f7bba;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	padding: 12px 25px;
	border-radius: 3px;
}

.btn-search {
	border: 0px;
	padding: 12px 15px;
	background: none;
	border-bottom: 1px solid #e0e2e1;
	border-radius: 0px;
}

.btn-search i {
	color: #bdc1c4;
}

.btn-edit {
    border: 0;
    color: #979898;
    background: none;
    font-size: 18px;
}

.team-member {
	border: 1px solid #e3e5e4;
    background: #f7f9f8;
    padding: 18px;
    margin: 10px 0px;
}

.input-search {
	border: 0px;
	border-bottom: 1px solid #e0e2e1;
	display: block;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	height: 45px;
	margin: 0;
	padding: 0 45px 0 15px;
	background: none;
}

.input-search:focus {
	box-shadow: none;
	outline: 0;
}

.form-input {
	border: 0px;
	border-bottom: 1px solid #e0e2e1;
	display: block;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	height: 45px;
	margin: 0;
	padding: 0 45px 0 15px;
	background: none;
}

.form-input:focus {
	box-shadow: none;
	outline: 0;
}

.input-box {
	margin: 15px 25px;
}

.user-photo {
	width: 65px;
}
/* END MINHA EQUIPE*/


/* OTHER TABS */

.text-blankpage {
	text-align: center;
	color: #84888b;
}


/* END OTHER TABS */